*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans';
}
/* :root{
    --main: #ffae01;
    --sec: #0152ff;
    --c1: #ae01ff;
    --c2: #01ffae;
} */
body{
    background-color: hsl(41, 100%, 60%);
}

.sidebar{
    /* border: black 1px solid; */
    position: relative;
    padding: 20px;
    width: 70%;
    background-color: hsl(221, 100%, 61%);
    color: whitesmoke;
    margin: 30px auto;
}

.col{
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    margin: 4px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.c-seq,.u-seq{
    display: flex;
}

.score{
    margin: 0 2px;
}

.timer{
    position:absolute;
    padding: 4px;
    color: #ffae01;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
}

#board{
    background-color: hsl(221, 100%, 80%);
    width: 70vmin;
    height: 70vmin;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}

.snake{
    background-color: hsl(0, 0%, 0%);
}